@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

// Estilos heredados del módulo productos en: src/pages/productos/producto.template.scss

.ficha {
  margin-bottom: 4vh;
  &__titulo-articulo {
    margin-bottom: 0 !important;
  }
  &__compartir {
    padding: 0;
    button {
      margin-left: 0.5vw;
    }
  }  
  &__informacion {
    height: 100%;
    @include flex;
    @include column-justify;
  }

  &__regreso {
    width: 100%;
    margin-bottom: 3vh;
  }
  &__contenido {
    margin-top: 4vh;
  }
  h2 {
    margin: 0 0 1vh 0;
  }
  p {
    margin-bottom: 1.5vh;
  }
  a {
    color: $azul1;
  }
}

@media only screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
  .ficha {
    &__col-izq-articulo {
      width: 100%;
    }
    &__compartir {
      button {
        margin-left: 1.5vw;
      }
    }
  }
}

@media only screen and (min-device-width: 568px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
  .ficha {
    &__contenido {
      p {
        font-size: 0.8rem;
        line-height: 1rem;        
      }
    }
    &__titulo-articulo {
      font-size: 1.2rem;
    }
    .descripcion {
      column-count: 2;
      column-gap: 2vw;
    }
  }
}

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
  .ficha {
    .descripcion {
      column-count: 2;
      column-gap: 2vw;
    }
  }
}

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
  .ficha {
    &__titulo-articulo {
      font-size: 1.5rem;
    }
    &__col-izq-articulo {
      padding-right: 1.5vh !important;
    }
    p {
      font-size: 0.9rem;
    }
    .descripcion {
      width: 100%;      
    }
  }
}

@media only screen and (min-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1) {
  .ficha {
    p {
      font-size: 1rem;
      line-height: 1.2rem;
    }
    .descripcion {
      column-count: 2;
      column-gap: 2vw;
    }
  }
}
