@import "../assets/scss/variables";
@import "../assets/scss/mixins";

.principal {
  align-items: center;
  &__columnas {
    display: table-row;
    width: 100%;
  }
  &__col-der {
    img {
      width: 100%;
      clip-path: polygon(6% 0, 100% 0%, 94% 100%, 0% 100%);
    }
  }

  &__descripcion {
    color: $blanco;
    font-weight: 400;
    border-bottom: 0;
    &:before {
      content: " ";
      border:0
    }
  }
}

@media only screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
  .principal {
    height: 65vh;
    padding-top: 4vh;
    &__descripcion {
      text-align: center;
      font-size: 1.25rem;
      line-height: 1.8rem;
    }
    &__columnas {
      width: 88%;
      margin: 0 auto;
    }
    &__col-izq {
      margin-bottom: 5vh;
    }
  }
}

@media only screen and (min-device-width: 568px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
  .principal {
    min-height: 85vh;
    &__columnas {
      width: 90%;
      margin: 0 auto;
    }
    &__col-izq {
      @include table-cell-50;
      vertical-align: middle;
    }
    &__col-der {
      @include table-cell-50;
    }
    &__descripcion {
      text-align: right;
      font-size: 1.25rem;
      line-height: 1.8rem;
    }

    &__col-izq {
      flex: 0 0 40%;
    }

    &__col-der {
      flex: 0 0 58%;
    }
  }
}

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
  .principal {
    height: 35vh;
    &__descripcion {
      text-align: right;
    }
    &__columnas {
      width: 92%;
    }
    &__col-izq {
      @include table-cell-50;
      vertical-align: middle;
      padding-right: 1.5vh;
    }

    &__col-der {
      @include table-cell-50;
    }
  }
}

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
  .principal {
    min-height: 50vh;
    &__descripcion {
      font-size: 1.6rem;
      line-height: 2.2rem;
    }
  }
}

@media only screen and (min-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1) {
  .principal {
    height: 65vh;
    &__columnas {
      width: 100%;
    }
    &__col-der {
      padding: 2vh;
    }
  }
}

@media only screen and (min-device-width: 1920px) and (-webkit-min-device-pixel-ratio: 1) {
  .principal {
    height: 50vh;
  }  
}
